.main-button {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.main-button::after {
  content: "";
  background-color: #e5f8e5;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.main-button:hover::after {
  top: 0px;
  left: 0px;
}
